*.swp
emulator_interface/proto/target/
emulator_interface/target/
emulator_interface/proto/src/cartesi_base.rs
emulator_interface/proto/src/manager_high.rs
emulator_interface/proto/src/manager_high_grpc.rs
logger_interface/proto/target/
logger_interface/target/
logger_interface/proto/src/cartesi_base.rs
logger_interface/proto/src/logger_high.rs
logger_interface/proto/src/logger_high_grpc.rs
